[2012-10-08 14:26] jmiguelsamper opened #1 "Spring dependencies included"
This project has some dependencies declared inside the pom.xml with "compile" scope.

Using a different version of Spring Framework (in my case, 3.1.2) with this project results on some classpath related exceptions at Spring initialization.

The workaround is setting Maven exclusions (http://maven.apache.org/pom.html#Exclusions) in my pom.xml but it would be nice if the dependencies were declared

[2012-10-14 05:25] danielfernandez commented on #1
pom.xml has been cleaned in 1.0-beta2-SNAPSHOT, removing all Spring dependencies and setting all SpringSecurity dependencies to scope = 'provided'

[2012-10-14 05:25] #1 closed, assigned to danielfernandez

[2012-10-14 05:35] danielfernandez opened #2 "Possible problem evaluating Spring Security expressions"
See http://forum.thymeleaf.org/sec-authorize-td4025113.html

Copied text:

---

I am converting from a JSP, in which I used to have:

[code]

So, I tried the following, with and without the "#", to no avail:

[code]

On the other hand, this worked:

[code]

And so did this, which I eventually switched to:

[code]

So, am I missing something with the syntax, or is there something wrong with evaluat

[2012-10-16 03:02] danielfernandez commented on #2
Fixed and added to 1.0.0-beta2-SNAPSHOT.

Now context variables can be accessed in `sec:authorize` attributes using the `#vars` expression object.

[code]

[2012-10-16 03:02] #2 closed, assigned to danielfernandez

[2012-10-18 09:42] kreuzman opened #3 "Spring Security Expression not working in Spring Security 3.1.x"
Hello,

Exception below is thrown during evaluating Spring Security Expression. It's because interface  `WebSecurityExpressionHandler` is marked as deprecated and tear from type hierarchy in Spring Security 3.1.x. So it's no longer possible to find `SecurityExpressionHandler` in context based on `WebSecurityExpressionHandler.class` (`AuthUtils` line 226).

[code]

[2012-10-18 10:26] danielfernandez commented on #3
Hi,

Being deprecated is not a problem for finding such interface. This thymeleaf module still uses that interface for compatibility reasons with Spring Security 3.0.x.

Could it be that you are not declaring a SpringSecurity expression handler? this is not done by default -- you have to tell Spring Security you want one. You can do this in two different ways:

1st, by adding `use-expressions="tru

[2012-10-18 12:31] kreuzman commented on #3
Hi,

I'm sure that I declaring expression handler (by the 1sr provided example, I also using spring security expressions in application with @PreAuthorized annotation and it works).

I also check that I have this handler in context. Problem is in place I described because `org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler` no longer implements `org.springframew

[2012-10-18 12:35] danielfernandez commented on #3
Hmmm... maybe they made `DefaultWebSecurityExpressionHandler` not implement `WebSecurityExpressionHandler` by error in Spring Security 3.1.0?

I cannot access javadoc API for 3.1.0, but both in 3.1.1.RELEASE http://static.springsource.org/spring-security/site/docs/3.1.1.RELEASE/apidocs/org/springframework/security/web/access/expression/DefaultWebSecurityExpressionHandler.html and 3.1.3.RELEASE htt

[2012-10-18 12:41] kreuzman commented on #3
Ahhh....you are right it's just mistake in Spring Security 3.1.0. I missed that one. Thank you very much for helping and solving not your bug/problem :-)

[2012-10-18 12:41] #3 closed, assigned to danielfernandez

[2012-11-24 10:01] simonemasoni opened #4 "Does not work with Spring 3.1"
The interface WebSecurityExpressionHandler was deprecated and the new interface SecurityExpressionHandler was introduced instead.

So the method AuthUtils.getExpressionHandler always throws TemplateProcessingException.

[2012-11-24 10:14] danielfernandez commented on #4
This is a Spring Security 3.1.0 issue. Use 3.1.1 or newer and you should be fine.

See this other issue ticket: https://github.com/thymeleaf/thymeleaf-extras-springsecurity3/issues/3

[2012-11-24 10:14] #4 closed, assigned to danielfernandez

[2012-12-04 10:31] kreuzman opened #5 "Permissions resolution not working with authorize-url and multiple http realms"
Permissions resolution not working with authorize-url and multiple http realms because only first `org.springframework.security.web.access.WebInvocationPrivilegeEvaluator` in `AuthUtils` is used and others are ommited (`AuthUtils` line 289).

[2012-12-29 23:02] danielfernandez commented on #5
This in fact mimics the behaviour of the official Spring Security "authorize" tag (see http://grepcode.com/file/repo1.maven.org/maven2/org.springframework.security/spring-security-taglibs/3.1.1.RELEASE/org/springframework/security/taglibs/authz/AbstractAuthorizeTag.java#340 ), which only uses the first `WebInvocationPrivilegeEvaluator` instance.

And the same happens with the `ExpressionHandler` i

[2012-12-30 11:07] kreuzman commented on #5
Hi I realize this also and it is little disappointment with official Spring Security tag library. So I think the best way is to wait for next version of Spring Security and see how they change it (I'll also report it to Spring Security team).

But if you want to change this behavior (I'm not sure if it's good to make it) in Thymeleaf I've made simple hack and returning array of  `WebSecurityExpres

[2013-03-17 20:32] prashant2402 opened #6 "Plugin not working out of the box..throws NoClassDefFoundError for a Spring Interface"
Caused by: java.lang.NoClassDefFoundError: org/springframework/security/acls/model/NotFoundException
    at org.thymeleaf.extras.springsecurity3.dialect.SpringSecurityDialect.getAdditionalExpressionObjects(SpringSecurityDialect.java:117) [thymeleaf-extras-springsecurity3-2.0.0.jar:]

My setup is Spring 3.1.1. MVC + Thymeleaf + Spring standard dialect + Spring3Sec extras
When I try to open the home

[2013-03-17 21:04] ultraq commented on #6
Does your setup include Spring Security 3.x as well?  I took a look at this project's pom file, and it lists Spring Security, but as a 'provided' scope, so you have to add Spring Security to your project dependencies yourself (it's also listed as a requirement in the readme file).

[2013-03-17 21:43] prashant2402 commented on #6
Yeah but not all of them. What is missing is 'spring-security-acl' but I got all other Spring security dependencies.
I haven't excluded 'spring-security-acl' from other deps. I use Spring roo so I believe it had installed all the required security jars.

Might be worth mentioning this dependency explicity in readme file as its not part of the usual spring security stack

[2013-03-17 21:43] #6 closed, assigned to danielfernandez

[2013-04-22 15:28] chkluwe commented on #5
Hello,

I just ran into the same problem. The corresponding lines in the code of the Spring Security taglib according to Github are from 2010 - they predate the 3.1 Release. So I guess they simply didn't update the taglib for multiple http realms.

I agree with Michal on how this should work: since with multiple http realms each interceptor is still configured for paths relative to the context-roo

[2013-05-14 03:38] gduchesneau opened #7 "sec:authorize-url attribute does not evaluate expression"
sec:authorize-url attribute does not evaluate @{...} or ${...} expressions.  It would be really useful if it would.

For instance, it is not possible to build a dynamic nav bar like this:

[code]

The only thing that seems to be missing to support that is to change the first few lines in AuthorizeUrlAttrProcessor.isVisible() with :

[code]

[2013-05-30 14:14] gkonst commented on #7
I have the same problem!

[2013-06-09 23:03] danielfernandez commented on #7
Actually, `sec:authorize-url` and the other `sec:*` attributes use a different expression language than thymeleaf''s, which is Spring Security's own expression language. This is done so in order to allow an easier transition from Spring Security's JSP tags to thymeleaf's dialect.

In order to allow the integration of Spring Security features into Thymeleaf standard expressions, this library includ

[2013-06-09 23:03] #7 closed, assigned to danielfernandez

[2013-06-21 06:38] dharrigan opened #8 "Latest 2.0.18-SNAPSHOT breaks Thymeleaf Security"
Hi,

Latest snapshot breaks this module:

[code]

-=david=-

[2013-06-21 14:49] danielfernandez commented on #8
Fixed now. Mistakenly changed the signature of a now-deprecated method. Thanks.

[2013-06-21 15:06] dharrigan commented on #8
w00t :)

[2013-08-07 17:09] habuma opened #9 "Dependency on spring-security-acl, even when not using ACLs"
For a very simple (and most common) Spring Security needs, ACLs are not required nor used. But when using Thymeleaf's Spring Security dialect, I get a ClassNotFoundException for "org/springframework/security/acls/domain/PermissionFactory" if spring-security-acl is not in the classpath.

The specific line in the template that triggers this is:

[code]

I shouldn't have to add spring-security-acl to

[2013-08-20 10:49] grgrzybek commented on #8
Hi

I still have the same problem with thymeleaf-extras-springsecurity3-2.0.0.jar and thymeleaf-2.1.0-m1.jar...

[code]

[2013-08-20 11:35] dharrigan commented on #8
Hi,

I'm not seeing this issue on my system with the latest update (not using 2.1.0-m1, just the now released 2.0.18).

-=david=-

[2013-08-20 12:15] grgrzybek commented on #8
With 2.0.18 it works. With 2.1.0-m1 not...
Also 2.1.0-m1's org.thymeleaf.util.StringUtils.isEmpty(String) returns primitive `boolean`, not `java.lang.Boolean` so I think `org.thymeleaf.extras:thymeleaf-extras-springsecurity3` should be adapted to 2.1.0-m1...

regards
Grzegorz Grzybek

[2013-08-20 12:16] dharrigan commented on #8
Perhaps the changes haven't been merged/rebased into 2.1.0-m1 yet?

I would create a new issue, targetted towards the 2.1.0-m1 release with a stack dump of what you are observing.

-=david=-

[2013-08-20 12:19] grgrzybek commented on #8
Thanks a lot for response!

[2013-08-21 12:28] exp6 commented on #6
I had the same issue with spring security also. The solution I've found was to down-grade the version of this to 3.1.3.RELEASE, since i've been using 3.1.4.RELEASE.

Might be some bug on the new version of extra thymeleaf security that must use the org.springframework.security.acls.model.NotFoundException and the 3.1.4.RELEASE version of spring security doesn't keep this anymore.

I hope this may

[2013-08-24 23:09] danielfernandez commented on #8
Please, note that when using thymeleaf 2.1.x (2.1.0-SNAPSHOT or 2.1.0-mx milestone), you should be using the corresponding 2.1.0-SNAPSHOT version in thymeleaf-extras-springsecurity3 (no milestone versions for this one).

Anyway, I'm removing the dependency on that `isEmpty/isEmptyOrWhitespace` method in order to avoid further problems.

[2013-08-24 23:19] #9 closed, assigned to danielfernandez

[2013-08-24 23:19] #8 closed, assigned to danielfernandez

[2013-08-24 23:38] danielfernandez commented on #9
Version 2.0.1 just been released. Includes this fix.

[2013-10-01 21:37] danielfernandez commented on #6
Please note the the acl dependency was already removed in thymeleaf-extras-springsecurity3 version 2.0.1. See https://github.com/thymeleaf/thymeleaf-extras-springsecurity3/issues/9

[2014-01-04 00:53] danielfernandez opened #10 "Generalize code in order to support thymeleaf-spring4"
Usages of classes from the `thymeleaf-spring3` should be generalized in order to support both version 3 and 4 of Spring Framework with this module

[2014-01-04 00:53] #10 closed, assigned to danielfernandez

[2014-01-04 00:56] danielfernandez opened #11 "PORT: Generalize code in order to support thymeleaf-spring4"
Port of #10 for Thymeleaf 2.0

[2014-01-04 00:56] #11 closed, assigned to danielfernandez

[2014-01-10 16:36] willdavidwarren opened #12 "CSRF token not being added with spring-security 3.2.0.RELEASE?"
I just upgraded from 3.2.0.RC2 of the spring security framework (org.springframework.security:spring-security-web and org.springframework.security:spring-security-config) to 3.2.0.RELEASE and suddenly, the csrf hidden input field on my login page is not being automatically added.

What gives? Is this an error or a change in some default setting somewhere that I overlooked?

I'm using:
- thymeleaf

[2014-01-16 01:16] danielfernandez commented on #12
Our tests show this support is working OK in Thymeleaf with Spring Security 3.2.0.RELEASE. It looks more like a Spring Security configuration issue. I recommend you to debug the instance of the `RequestDataValueProcessor` interface that Spring Security registers for you, in order to add CSRF support (through its `getExtraHiddenFields(...)` method).

Thymeleaf calls that method here: https://github

[2014-01-16 01:16] #12 closed, assigned to danielfernandez

[2014-01-16 15:59] danielfernandez commented on #12
For the record, this other ticket https://github.com/thymeleaf/thymeleaf-spring4/issues/1 might contain the answer you need. Possible causes of the problem:
- You are using XML configuration (not Java config) and not explicitly adding the `<csrf />` tag to your configuration, as explained here: http://docs.spring.io/spring-security/site/docs/3.2.0.RELEASE/reference/htmlsingle/#csrf-configure
- You

[2014-01-16 16:13] willdavidwarren commented on #12
Thanks for the responses @danielfernandez . To your second response, that's not it, because I already had the system set up with CSRF protection and everything working great. Literally, the only thing I changed was change the `<version>` tag in my `pom.xml` for `spring-security-config` and `spring-security-web` to `3.2.0.RELEASE` and it stopped working.

As I was just typing this response, I tried

[2014-01-16 16:37] danielfernandez commented on #12
To my understanding of https://jira.springsource.org/browse/SEC-2436, you need both.

Note that this `@EnableWebMvcSecurity` annotation appeared in 3.2.0, not RC2, so its creation probably modified the behaviour of `@EnableWebSecurity` and removed from it the registration of the CSRF mechanism in favour of the new annotation.

[2014-05-22 09:41] rhallier opened #13 "Evaluation of hasPermission with a reference to the context"
Hi,
In the snippet below, #vars.expectedResult doesnt seem interpolated whereas it ($expectedResult) is in the context because rendered in the rest of the page.
This is a spring4 env.

a href="#" sec:authorize="hasPermission(#vars.expectedResult,'modification')" ...

The same expression used directly in @PreAuthorize works nicely.

What have I missed ?

[2014-05-22 09:53] danielfernandez commented on #13
What version of Thymeleaf are you using? If you are using < 2.1.3, map entries in Spring EL could not be accessed with the `map.property` syntax, but only `map['property']`, so... could you check `hasPermission(#vars['expectedResult'],'modification')`?

[2014-05-24 13:24] rhallier commented on #13
You're right, I'm using 2.1.2, and #vars['expectedResult'] does the trick. Thank you a lot. I maybe should be mentionned in the doc/example

[2014-05-26 19:34] #13 closed, assigned to danielfernandez

[2014-06-06 15:07] rhallier opened #14 "Accessing items from an iterator within a hasPermission expression"
In the spring context, I have an object under the key activity.
And I can access it through :
hasPermission(#vars['activity'],'modification')

Still, I cannot access the objects $ce.id from the iterator :

[code]

It throwns an exception
R.

[2014-06-06 15:58] rhallier commented on #14
My bad, the right expression is :

[code]

[2014-06-06 15:58] #14 closed, assigned to nobody

[2014-07-28 20:02] azeckoski opened #15 "TemplateProcessingException when unit testing secured thymeleaf template"
Complete details are in this SO post:
http://stackoverflow.com/questions/24999469/how-to-unit-test-a-secured-controller-which-uses-thymeleaf-without-getting-temp

Summary is that the tests fail with the following error:
testLoadRoot(ltistarter.controllers.AppControllersTest) Time elapsed: 0.648 sec <<< ERROR! org.springframework.web.util.NestedServletException: Request processing failed; nested ex

[2014-08-15 13:53] dsyer opened #16 "Please add an example of the namespace declaration to the README"

[2014-08-17 23:45] ultraq commented on #16
@danielfernandez Do we have an 'official' namespace for this module?  I've been using `http://www.thymeleaf.org/extras/spring-security`.

[2014-10-18 12:37] spacejens opened #17 "hasPermission expressions always false"
I am attempting to use by own custom permissions in Thymeleaf pages, using the sec:authorize attribute. However, when I try to do so they always evaluate as false. I can see from the log that org.spring.security.access.expression.DenyAllPermissionEvaluator is being used, so the false evaluation certainly seems obvious.

However, the custom permissions work with the @PreAuthorize annotations I have

[2014-10-18 12:42] spacejens opened #18 "sec:authorize-url expressions always true"
I am attempting to use sec:authorize-url in Thymeleaf pages, but it seems to always evaluate as true (i.e. the tags always show in the browser). This is confusing, as the URL (backed by a controller with a @PreAuthorize annotation using hasPermission) is not accessible to all users.

My code is here on GitHub, in my GaGrOr project. I made a commit on a separate branch (thymeleaf-springsecurity) tr

[2014-10-18 21:38] spacejens commented on #18
It is worth noting that the sec:authorize="hasRole... works as expected, i.e. only users with the specified role see the links. So I am confused as to why the other sec:... stuff is not working. And yes, I am aware that I am quite likely doing something wrong here...

[2014-10-18 21:39] spacejens commented on #17
It is worth noting that the sec:authorize="hasRole... works as expected, i.e. only users with the specified role see the links. So I am confused as to why the other sec:... stuff is not working. And yes, I am aware that I am quite likely doing something wrong here...

[2014-12-21 16:55] wienczny opened #21 "Spring Security 4 support."
WebSecurityExpressionHandler has been deprecated in Spring Security 3.1 removed in Spring Security 4. It has been replaced by SecurityExpressionHandler<FilterInvocation> like you can see in http://docs.spring.io/autorepo/docs/spring-security/3.2.4.RELEASE/apidocs/index.html?org/springframework/security/web/access/expression/WebSecurityExpressionHandler.html
Please consider dropping support for Spr

[2014-12-22 15:23] willdavidwarren commented on #21
Wouldn't it make more sense to only support `SecurityExpressionHandler` in a `thymeleaf-extras-springsecurity4` library - if one ever came about?

[2014-12-25 18:36] wienczny commented on #21
I've forked springsecurity3 and refactored it into https://github.com/wienczny/thymeleaf-extras-springsecurity3/tree/springsecurity4

[2014-12-26 22:21] cm-rudolph commented on #21
I've forked the integration, too before I saw that there is already a fork... My solution with a minimal amount of changes can be seen here:
https://github.com/cm-rudolph/thymeleaf-extras-springsecurity4
It might be good to put spring security 4 support into a separate branch and not a complete new project, because the changes are so minimal. So it should be possible to rebase it when development

[2014-12-27 12:31] cm-rudolph commented on #21
Another approach could be to add spring security 4 support using a delegate to support `getExpressionParser()` and `createEvaluationContext()` in a version independent way.

[2014-12-27 19:16] wienczny commented on #21
@cm-rudolph I'm not sure I understand what you propose. How would that solve the problem that you can't have both SpringSecurity versions as dependency when building? Either the SS3 or SS4 implementation would break, unless you used the SS4 SecurityExpressionHandler which on the other side would not work with old SS3. This was my first proposal and rejected.
The only way you could implement a dele

[2014-12-27 20:02] cm-rudolph commented on #21
The only problem is with building the thymeleaf extension, because spring 3 and spring 4 can't be configured as (provided) dependencies at the same time.
I think the simplest solution would be to copy the `WebSecurityExpressionHandler` interface into a separate package that is given as (provided) dependency just for the purpose of building `thymeleaf-extras-springsecurity`.
Within the extension th

[2014-12-27 21:34] cm-rudolph commented on #21
I implemented what I described but instead of creating a separate artifact containing the copied `WebSecurityExpressionHandler` interface, I excluded the interface from packaging in the generated artifact (source, javadocs and jar).
This can be seen in d0212ce5f1d6bb99051a1eff296e1aeb2f00833d . In e84149d2c21287f2f0a3b22591a86686d122f11e I implemented the delegating utility classes.

[2015-01-15 00:05] danielfernandez commented on #21
Unfortunately we cannot / should not remove support for Spring Security 3.0 in Thymeleaf 2.1, so simply switching from `WebSecurityExpressionHandler` to the _new_ (as of Spring Security 3.1) `SecurityExpressionHandler` interface would not be a feasible option for us.

Besides, supporting Spring Security 4 with an integration package called `thymeleaf-extras-springsecurity3` does not look completel

[2015-01-15 22:59] danielfernandez commented on #21
I've just uploaded a first snapshot of the `thymeleaf-extras-springsecurity4` module, version `2.1.2-SNAPSHOT`. You can include it in your apps for testing as:

[code]

[2015-01-15 23:04] danielfernandez commented on #21
I've also created a `springsecurity4` branch at the thymeleafexamples-springsecurity example application exemplifying the use of this new module and Spring Security 4.0. See https://github.com/thymeleaf/thymeleafexamples-springsecurity/commit/3d1c16865cef94833e8721a99b93cfb2cbb7ba19

[2015-01-18 11:55] cm-rudolph commented on #21
@danielfernandez I commented on your commit cb5680253e6f9a31b7bbd6ff656c576133793908 because your adjustments are incomplete concerning type safety.

[2015-02-19 15:14] cointify opened #22 "sec:authorize not working with Role Hierarchies"
I'm using `Spring Security 3.2.5.RELEASE` with `ThymeLeaf 2.1.4.RELEASE`. I've defined Role Hierarchy in my security context. In my view layer I'm using sec:authorize attribute to define menu items. I expect to see all menu items under the top level role but I only see the menus defined under that role.

[code]

And in my view page I'm using `sec:authorize` attribute like below:

[code]

[2015-03-09 06:20] chrylis commented on #21
I see that the SEC 4.0 module is here, but it's not available in Central yet. I'm using features that require 4.0, and of course the `WebSecurityExpressionHandler` is no longer available. Is there any word on artifact availability?

[2015-03-16 16:08] DavidGarciaHerrera opened #25 "sec:authorize is not working for list."
When you try to load a list of roles from a xml you dont have access to this if you used:

[code]

you need to modiffy the access and put like this:

[code]

for more information of the code that I'm using you can check:

http://forum.thymeleaf.org/sec-authorization-problems-to-load-a-list-td4028823.html
or
https://stackoverflow.com/questions/29076889/problems-with-secautorize-thymeleaf

[2015-03-17 19:54] danielfernandez commented on #21
@chrylis given Spring Security 4.0 is not GA yet, we don't have a stable release for it. What we have is a working snapshot (see above). We will release a first stable release as soon as Spring Security 4.0 is published.

[2015-03-17 21:56] chrylis commented on #21
For some reason, Maven wasn't resolving OSSRH snapshots. It's working just fine for me now.

[2015-03-26 18:26] odrotbohm commented on #21
Spring Security 4.0 just went GA. Maybe time to bundle up a release? ;)

[2015-03-26 19:29] cm-rudolph commented on #21
And what about my pull request #24?

[2015-03-26 19:34] ultraq commented on #21
:stuck_out_tongue:

[2015-03-26 22:46] danielfernandez commented on #21
Definitely. Will publish it ASAP

[2015-03-27 09:31] odrotbohm commented on #21
:+1:

[2015-03-28 23:49] danielfernandez commented on #21
`thymeleaf-extras-springsecurity4` version `2.1.2.RELEASE` just published. Please allow some time for the Maven repos to sync.

[2015-03-28 23:49] #21 closed

[2015-03-30 07:47] odrotbohm commented on #21
Thanks Daniel, that was quick! :)

[2015-03-31 19:27] rcuadrado commented on #21
Is that working?, because when I use (thymeleaf-extras-springsecurity4)  (2.1.2.RELEASE), and use the following sentence
[code]
an exception is thrown:
[code]
spring: 4.1.6.RELEASE
spring-security: 4.0.0.RELEASE
thymeleaf: 2.1.4.RELEASE

[2015-03-31 20:01] danielfernandez commented on #21
@rcuadrado your expression works for me using exactly the same versions as you... maybe some other problem in your Spring Security configuration?

[2015-03-31 20:07] danielfernandez commented on #21
@rcuadrado by the way, you can set your log for `org.thymeleaf.extras.springsecurity4.auth.AuthUtils` to `TRACE` and this should show you the different reasons that can happen for your Authentication object to be null...

[2015-04-01 22:42] nelsonrosenberg-hp opened #26 "hasRole conforming with new Spring Security"
Will the hasRole method be updated to something similar to the new spring version as seen in this issue?

https://jira.spring.io/browse/SEC-2758

Thanks!

[2015-05-15 16:31] dg- commented on #17
I can confirm this!

[2015-05-16 19:44] dg- commented on #17
I experienced the same problem recently and it does not seem to be a bug, but expected behaviour. It is somehow related to bug #5 . As danielfernandez explained there:

A solution that worked for me in my case was setting the PermissionEvaluator for the first expressionHandler. Your main could look something like:

[code]

[2015-06-05 03:58] msmyers opened #27 "Always selects the first WebInvocationPrivilegeEvaluator regardless of which one is actually active."
Turns out that:

[code]

(notice the pattern="" part)

Thymeleaf security will always use the first one.

It's because of this method:

[code]

[2015-06-05 07:58] danielfernandez commented on #27
Closing as a duplicate of #5
Note this is done in purpose, because it actually mimics the way the SpringSecurity JSP tag library works. See https://github.com/spring-projects/spring-security/blob/master/taglibs/src/main/java/org/springframework/security/taglibs/authz/AbstractAuthorizeTag.java#L239

[2015-06-05 07:58] #27 closed

[2015-06-05 08:00] danielfernandez commented on #27
Sorry, I initially marked it as a duplicate of #7, but it is a duplicate of #5. Fixed above.

[2015-07-12 22:22] jack128 opened #28 "Using ROOT application context, regardless current request"
Is it by design ??
Maybe it's better to use
RequestContextUtils.getWebApplicationContext(ServletRequest request, ServletContext servletContext) in
AuthUtils.getPrivilegeEvaluator
?

[2015-09-09 12:19] klebermo opened #30 "sec:authorize with hasPermission don't process local variables"
I am trying to use this:

[code]

with sec:authorize in a spring /  thymeleaf code, but when I deploy and run the application this code isn't processed, and it's being display as is.

I try envolve the expression with |...|, but in this case I get the error:

[code]

[2015-10-13 05:23] chrylis opened #31 "include Spring MVC model in evaluation context"
I'm trying to write an `authorize` expression using model variables, but it seems they aren't being added to the `Arguments` for the evaluator, although the request path variables are. It seems to me that the model ought to be available here.

[2016-02-20 04:30] ultraq opened #32 "Update XML resource files used for IDE integration"
Same as https://github.com/thymeleaf/thymeleaf/issues/454, but for this project.

[2016-02-20 04:32] ultraq commented on #32
Nothing to do for this one.

[2016-02-20 04:32] #32 closed

[2016-05-03 10:37] Edward-Shaw commented on #17
Wonderful, it worked!
But I can not find WebSecurityExpressionHandler in spring security 4, using DefaultWebSecurityExpressionHandler instead.Here is my main class:

[code]

[2016-05-11 09:11] martijndwars commented on #22
I just had the same issue, but this is not related to the Thymeleaf security dialect. See http://stackoverflow.com/a/28673325/368220 and http://stackoverflow.com/a/13877876/368220.

[2016-06-24 17:35] kazuki43zoo opened #33 "Which is correct namespace ?"
Hi, thymeleaf developer team.

I have one question.

Which is correct namespace ?

[code]

or

[code]

or

other ...

[2016-06-25 03:50] ultraq commented on #33
The namespace for both Spring 3 and 4 versions of this dialect is `http://www.thymeleaf.org/extras/spring-security`

Getting the namespace incorrect won't impact processing of your template.  It might however impact your IDE when it comes to things like suggestions/auto-completion in your templates.

[2016-06-25 03:50] #33 closed

[2016-06-25 13:54] kazuki43zoo commented on #33
Hi @ultraq , Thanks for answer !!!

[2016-08-02 20:09] eilonreshef opened #34 "Forms within Thymeleaf templates generate an Exception"
E.g.,
<form role="form" th:action="login" method="post">
with pages that do not require a login attempt to add a CSRF token, which is "too late" because some of the response has already been committed.

Suggested resolution: when using extras-springsecurity, (conditionally?) force generation of the session before starting to write to the buffer. (This is easily achievable using a Filter outside Th

[2016-10-27 14:02] robinvalk commented on #34
I'm currently having the same issue, how did you manage to solve this?

[2016-10-27 14:07] eilonreshef commented on #34
Here's the filter code we added (a few items are our own but they can be easily stripped out):

[code]

[2016-10-30 22:48] danielfernandez commented on #34
This the same as thymeleaf/thymeleaf-spring#110, which derived into spring-projects/spring-security#3906.

I believe there is enough information and explanation about this scenario in both tickets, so I'm closing this one. Anyway, please reopen it if you feel there is any additional aspect that should be further discussed.

[2016-10-30 22:48] #34 closed

[2016-10-30 23:12] eilonreshef commented on #34
Hi Daniel, thanks for the pointer to the related issues. One small suggestion: it may be worthwhile (and easy) to catch this particular exception in Thymeleaf 3.0 and point (in the error message) to the above cases. Presumably this is not a rare issue, and is new to people migrating to 3.0.

Hope this helps, Eilon

[2016-11-02 02:48] setterlee opened #35 "sec-authorized-url stop working with spring-cloud-aws-autoconfigure"
I have an spring-boot project working with thymeleaf and all my menu options are listed with the tag "sec:authorize-url=/example".

everything was fine till i implemented an S3 (aws) file uploading event in my code.

if i include the library "spring-cloud-aws-autoconfigure" in the project, the security tag stop work.

[2016-11-14 22:15] danielfernandez opened #36 "Adapt the mechanism to retrieve the WebApplicationContext to newer versions"
The current mechanism being used for retrieving the `WebApplicationContext` object to be used as a base for most executions of authorization expressions is exclusively based on `org.springframework.web.context.support.WebApplicationContextUtils#getWebApplicationContext(ServletContext)`.

This makes the asumption that the `WebApplicationContext` is stored as as `ServletContext` attribute with the n

[2016-11-14 22:25] danielfernandez opened #37 "Flexibilize the mechanism for obtaining the PrivilegeEvaluator"
In order to evaluate authorization expressions based on URLs, a `WebInvocationPrivilegeEvaluator` object is obtained as a bean from the application context.

However, this mechanism was further flexibilized in Spring Security 3.1.3 so that a *privilege evaluator* could be specified as a request attribute with name `WebAttributes.WEB_INVOCATION_PRIVILEGE_EVALUATOR_ATTRIBUTE`, and in this case this

[2016-11-14 22:27] #36 closed

[2016-11-14 22:27] #37 closed

[2016-11-14 23:03] danielfernandez commented on #37
Already in `3.0.1-SNAPSHOT`

[2016-11-14 23:03] danielfernandez commented on #36
Already in `3.0.1-SNAPSHOT`

[2016-11-14 23:40] danielfernandez opened #38 "PORT: Adapt the mechanism to retrieve the WebApplicationContext to newer versions"
Port of #36 to the Thymeleaf 2.1 branch

---

The current mechanism being used for retrieving the `WebApplicationContext` object to be used as a base for most executions of authorization expressions is exclusively based on `org.springframework.web.context.support.WebApplicationContextUtils#getWebApplicationContext(ServletContext)`.

This makes the asumption that the `WebApplicationContext` is stor

[2016-11-14 23:41] danielfernandez opened #39 "PORT: Flexibilize the mechanism for obtaining the PrivilegeEvaluator"
Port of #37 to the Thymeleaf 2.1 branch

---

In order to evaluate authorization expressions based on URLs, a `WebInvocationPrivilegeEvaluator` object is obtained as a bean from the application context.

However, this mechanism was further flexibilized in Spring Security 3.1.3 so that a *privilege evaluator* could be specified as a request attribute with name `WebAttributes.WEB_INVOCATION_PRIVILEG

[2016-11-15 00:08] danielfernandez commented on #38
Already in `2.1.3-SNAPSHOT`

[2016-11-15 00:08] #38 closed

[2016-11-15 00:08] danielfernandez commented on #39
Already in `2.1.3-SNAPSHOT`

[2016-11-15 00:08] #39 closed

[2016-11-15 01:33] danielfernandez commented on #31
Spring Security's authorization expressions are executed on Spring Security's own evaluation context (and they should be in order to be consistent with how Spring Security works in other environments).

However, Thymeleaf offers the possibility to access model attributes (context variables) in these authorization expressions by means of the `#vars` expression object. See https://github.com/thymele

[2016-11-15 01:33] #31 closed

[2016-11-15 01:35] danielfernandez commented on #25
Spring Security's authorization expressions are executed on Spring Security's own evaluation context (and they should be in order to be consistent with how Spring Security works in other environments).

However, Thymeleaf offers the possibility to access model attributes (context variables) in these authorization expressions by means of the `#vars` expression object. See https://github.com/thymele

[2016-11-15 01:35] #25 closed

[2016-11-15 01:38] #22 closed

[2016-11-15 01:39] danielfernandez commented on #28
Please note this should be fixed by #36 and #38

[2016-11-15 01:39] #28 closed

[2016-11-15 01:42] danielfernandez commented on #30
Spring Security's authorization expressions are executed on Spring Security's own evaluation context (and they should be in order to be consistent with how Spring Security works in other environments).

However, Thymeleaf offers the possibility to access model attributes (context variables) in these authorization expressions by means of the `#vars` expression object. See https://github.com/thymele

[2016-11-15 01:42] #30 closed

[2016-11-15 02:04] danielfernandez commented on #18
From your code, two of your `sec:authorize-url` examples use Thymeleaf Standard Expressions (`${...}`) and (`@{...}`), which is not allowed. Values of `sec:authorize-url` must match what is allowed by the URL validation method established by Spring Security itself (e.g. in its JSP taglib), which means that it expects an URL, not a _foreign_ (Thymeleaf's) expression generating an URL.

In order to

[2016-11-15 02:05] danielfernandez opened #40 "Allow the application of pre-processing in Spring Security attributes"
Some of the attributes defined in this dialect (like `sec:authorize-url`) expect values that are directly fed into Spring Security's expression evaluation mechanism.

However, cases like #18 show that it could be useful to allow Thymeleaf's pre-processing to execute prior to passing control to Spring Security, so that link expressions (`@{...}`) could be directly used there by means of pre-process

[2016-11-15 02:06] danielfernandez commented on #18
I've just created #40 in order to allow the direct use of pre-processing in `sec:*` attributes. Therefore I'm closing this for now, as it seems all needs expressed here should be covered by #40. Please don't hesitate reopening if you think there is anything else that needs clarification.

[2016-11-15 02:06] #18 closed

[2016-11-15 02:09] danielfernandez commented on #35
There should be no reason (from the Thymeleaf standpoint) for a new Spring Cloud module to modify the way your URL authorization expressions are executed.

However, just in case: Versions `2.1.3.RELEASE` (for Thymeleaf 2.1) and `3.0.1.RELEASE` (for Thymeleaf 3.0) of the Spring Security integration module have just been published, and they include an improvement no the way the `PrivilegeEvaluator`

[2016-11-15 02:09] danielfernandez commented on #17
Please note versions `2.1.3.RELEASE` (for Thymeleaf 2.1) and `3.0.1.RELEASE` (for Thymeleaf 3.0) have been just published including changes in the way the `PrivilegeEvaluator` is obtained, now allowing its retrieval from an `HttpServletRequest` attribute, in order to better mimic the current (modified) behaviour of Spring Security itself.

This modifications will make Thymeleaf adopt now exactly t

[2016-11-15 02:09] #17 closed

[2016-11-15 02:11] danielfernandez commented on #5
Please note this should be fixed now thanks to #36, #37, #38 and #39

[2016-11-15 02:11] #5 closed

[2016-11-15 02:18] danielfernandez commented on #15
Please note this should be fixed by #36 (for Thymeleaf 2.1) and #38 (for Thymeleaf 3.0)

[2016-11-15 02:18] #15 closed

[2016-11-15 02:23] danielfernandez commented on #26
Actually, this is transparent to Thymeleaf's integration package. This is a behaviour wired into Spring Security expression evaluator, on which Thymeleaf does delegate for the execution of authorization expressions like those containing the `hasRole(...)` calls.

So this works out-of-the-box as long as the version of Spring Security being used supports it.

[2016-11-15 02:23] #26 closed

[2016-11-30 02:17] lmtoo opened #41 "How can I get authentication exception message in login page?"

[2016-12-04 22:26] #35 closed

[2016-12-04 22:42] danielfernandez commented on #41
There are several ways. In the `thymeleafexamples-springsecurity` example application you can see how a redirect to a specific controller is performed in the case of a login error: https://github.com/thymeleaf/thymeleafexamples-springsecurity/blob/380d5143908f61a986a5d37601fab8c397d892b3/src/main/java/thymeleafexamples/springsecurity/security/SpringSecurityConfig.java#L43-L45 and then in that cont

[2016-12-04 22:42] #41 closed

[2017-01-03 13:22] yglodt opened #42 "Dialect is not registering its processors for text modes (JAVASCRIPT, CSS, TEXT),"
[code]

This example is unfortunately not working. According to @danielfernandez it could be because the processors are not registered for text modes.

Related stackoverflow.com-question:
[Use Spring Security in Thymeleaf escaped expressions in JavaScript](http://stackoverflow.com/questions/41434231/use-spring-security-in-thymeleaf-escaped-expressions-in-javascript)

[2017-02-07 00:40] #42 closed

[2017-02-07 00:50] danielfernandez commented on #42
Already in `3.0.2-SNAPSHOT`

[2017-02-10 01:38] danielfernandez commented on #42
Please note versions `3.0.2.RELEASE` of `thymeleaf-extras-springsecurity3` and `thymeleaf-extras-springsecurity4` have just been published.

[2017-02-10 07:56] yglodt commented on #42
Thanks !

[2017-02-14 23:52] andrehertwig opened #43 "SecurityExpressionHandler is (sometimes) not found in Spring-Boot App when using WAR file in Tomcat"
Hi

Regaring the following thread: http://stackoverflow.com/questions/29706556/spring-boot-spring-security-tomcat-no-visible-websecurityexpressionhandler
If creating a WAR file of a Spring-Boot application and deploying it to a Tomcat, after a new deployment or restart and accessing a template using Spring-Security Tags, the SecurityExpressionHandler will not be found. As I wote:

The reason: Spri

[2017-02-22 18:42] andrehertwig commented on #43
Sorry, was a misconfiguration in my application which causes the application context getting loaded twice

[2017-02-22 18:42] #43 closed

[2017-03-13 03:21] hongxf1990 opened #45 "sec:authorize="hasRole('ROLE_ADMIN')" is not working"
I am using thymeleaf-extras-springsecurity4  / 3.0.2.RELEASE.  sec:authentication="name" and sec:authentication="principal.authorities" work, but sec:authorize="hasRole('ROLE_ADMIN')" is not working.
I am sure user has role ROLE_ADMIN, because I can print it. Can you test it?

[2017-03-13 22:11] danielfernandez commented on #45
Hello @hongxf1990 . Yours is almost exactly the same as one of the authorisation scenarios showcased in the `thymeleafexamples-springsecurity` example application (see https://github.com/thymeleaf/thymeleafexamples-springsecurity).

If you are not using Spring Boot, could you please check that your Spring Security configuration actually has the same structure as the one seen in that application?:

[2017-03-15 11:09] hongxf1990 commented on #45
@danielfernandez
Thank you vary much for your answer. I have downloaded that application and test it. Work well. After making a comparison, I upgrade thymeleaf-spring4 to 3.0.3.RELEASE. It works,

[2017-03-15 11:09] #45 closed

[2017-03-16 21:29] hopperd opened #46 "Best practice using hasPermissions with model attributes"
Currently it seems to properly access model attributes when using the PermissionEvaluator you have to explicitly do it like so.
`sec:authorize="hasPermission(#request.getAttribute('organization'), 'update:contacts')"`

I would have thought something like
`sec:authorize="hasPermission(#organization, 'update:contacts')"`

Would have worked but seems to always evaluate to null. Though using the same

[2017-03-23 12:29] hopperd commented on #46
@danielfernandez any suggestion here?

[2017-03-23 23:44] danielfernandez commented on #46
The `sec:authorize` attribute tries to mimic the behaviour of Spring Security's original JSP tag library, and the way expressions are executed in them. And the expressions executed for Spring Security's tags are not executed on the *root* context that would be used for the rest of the templates, but in their own, security-specific context. That's why the available objects are not the same…

So bas

[2017-04-02 15:59] Jacky2611 opened #47 "Spring 5 support"
Is there any reason why there is no spring 5 version yet? I mean, the code is already there. All that needs to be done is to rename all packages to org.thymeleaf.extras.springsecurity5 so that the class loader finds the correct class.

If anyone else has encountered this problem and wants to have a fix until there is a new version in the maven repo: import the thymeleaf-extras-springsecurity4 fold

[2017-04-02 16:05] danielfernandez commented on #47
Hello @Jacky2611… what do you mean? There is no Spring Security version 5 yet, not even a milestone. What there are is several milestones of **Spring Framework** (latest: `5.0.0.M5`), which is a separate project from Spring Security, and that is already been covered by our `thymeleaf-spring5` package (also in *milestone* stage).

Anyway, you can use the `thymeleaf-extras-springsecurity4` package w

[2017-04-02 17:14] Ansraer commented on #47
I am currently running a maven project with spring boot 2.0.0.BUILD-SNAPSHOT and a spring-boot-starter-security dependency. This does give me a 5.0.0BUILD-SNAPSHOT Spring Security jar.

My problem is that SpringVersionSpecificUtils uses getPackage().getName() and then throws an ClassNotFound Exception when it tries to use this path to find a class from thymeleaf-spring5 since the packagename is wr

[2017-04-02 19:49] danielfernandez commented on #47
Oh, I see. It's not really a package naming issue, but a lack of support.

I'm afraid your issue is due to the fact that Spring Boot  `2.0.0.BUILD-SNAPSHOT` is currently using as default version of `thymeleaf-extras-springsecurity4` version `3.0.1.RELEASE`, which is not prepared to work with Spring 5. If you update your `thymeleaf-extras-springsecurity4` dependency to `3.0.2.RELEASE` it should wor

[2017-04-02 20:27] danielfernandez commented on #47
This is the Spring Boot ticket for this version update: spring-projects/spring-boot#8530

[2017-04-03 20:58] #47 closed

[2017-04-19 10:23] ultraq commented on #16
Fixed by linked PR

[2017-04-19 10:23] #16 closed

[2017-05-16 08:25] hasancansaral opened #48 "sec:authorize with hasPermission and sec:authorize-acl is always false"
I believe [this](https://github.com/thymeleaf/thymeleaf-extras-springsecurity/issues/17) still is an issue. I have configured Spring Security ACLs properly and can use them with my `@RestController` methods successfully. However, I am having a problem when using `sec:authorize` and `sec:authorize-acl`.

`sec:authorize="hasPermission('id', 'type', 'ADMINISTRATION')"`

results in:

`2017-05-16 11:06

[2017-05-16 08:28] hasancansaral commented on #46
@danielfernandez In that case, I have checked that one can use:

[code]
but how can I render `id` dynamically based on some `${obj}`?

[2017-06-25 10:01] JavaWebinar commented on #33
It would be nice to place namespace into description
http://www.thymeleaf.org/doc/articles/springsecurity.html
It save some developers time.

[2017-08-25 03:58] destroy-everything opened #49 "springboot support"
springboot support does not work, is there any plans for this?

[2017-08-25 05:27] danielfernandez commented on #49
Could you please be more specific?

What exactly is not working for you?
What do you do in order to reproduce the issue?
Which version of Spring Boot are you using?
Which version of Thymeleaf?

Thanks

[2017-08-31 22:15] danielfernandez commented on #49
Closing due to user inactivity and lack of detail.

[2017-08-31 22:15] #49 closed

[2017-09-04 04:41] helloworldtang opened #50 "Use Thymeleaf 3 ，SpringSecurityDialect can't work #10151"
pom.xml add:

<thymeleaf.version>3.0.2.RELEASE</thymeleaf.version>
<thymeleaf-layout-dialect.version>2.1.1</thymeleaf-layout-dialect.version>
spring boot version:1.5.6.RELEASE
according :https://docs.spring.io/spring-boot/docs/1.5.6.RELEASE/reference/htmlsingle/#howto-use-thymeleaf-3

        <dependency>
            <groupId>org.thymeleaf.extras</groupId>
            <artifactId>thymeleaf-extras-

[2017-09-04 22:10] danielfernandez commented on #50
If you change the version of Thymeleaf to 3.0 in Spring Boot, you also need to use a Thymeleaf 3.0-compatible version of the Spring Security integration. The current version of this branch is `3.0.2.RELEASE`. So you'd need to have:

[code]

Also note that the Thymeleaf core is already in `3.0.7.RELEASE`, so I would recommend upgrading your Thymeleaf core version to that value (for `thymeleaf.versi

[2017-09-04 22:10] #50 closed

[2017-09-06 10:13] helloworldtang commented on #50
Thank you,  @danielfernandez

It works.

[code]

my side project as a reference
https://github.com/helloworldtang/sns-todo

[2017-11-17 15:44] ss96766 opened #51 "sec: authorize, hidden display problem"
I've introduced    thymeleaf-extras-springsecurity4 in pom. html page namespace is also added http://www.thymeleaf.org/extras/spring-security. But why I did not log in, sec: authorize = "isAuthenticated ()" This can not be hidden

[2017-11-20 23:07] danielfernandez commented on #51
I'm not sure I understand your problem. Could you please be more specific?

If what you say is that a `sec:authorize` attribute still appears in your executed template, my question would be: are you using Spring Boot? if not, there is no reason the *SpringSecurity Dialect* would have registered itself, so besides adding the dialect to the `pom.xml` you'd need to add your dialect to the `TemplateEn

[2017-12-21 10:17] StupidPz commented on #51
I have the same problem.And i'm using SpringBoot.I tried thymeleaf-extras-springsecurity4 and thymeleaf-extras-springsecurity3,but failed.I still could see the `sec` element using F12 .it seemd that was not resovled by thymeleaf

[2018-01-08 12:23] raineyJ opened #52 "xmlns:sec is no longer available"
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

the namespace http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 is no longer available

[2018-01-11 18:57] sanaulla123 opened #53 "Exception while using Spring Security Extras 4 with Spring Webflux"
I am trying to use `sec:authorize="isAuthenticated()"` but it resulted in the following exception:

The stacktrace:

    Caused by: org.thymeleaf.exceptions.ConfigurationException: Thymeleaf execution context is not a web context (implementation of org.thymeleaf.context.IWebContext).
    Spring Security integration can only be used in web environments.
	at org.thymeleaf.extras.springsecurity4.dial

[2018-01-22 10:40] rricote commented on #17
Hi, @dg- and @Edward-Shaw solution worked for me in my local tomcat for develop but when I deploy the war file in wildfly 10 it doesn't work. After searching the problem i have found a solution. I post it here for anyone that have the same issue.

This class is for configure the permission evaluator in the general spring app but not in thymeleaf views:
[code]
And this is the important change. You

[2018-02-13 03:46] agbottan commented on #50
This thread solved the same problem for me too. Thank you all.

[2018-03-01 07:58] #48 closed

[2018-03-01 11:10] danielfernandez commented on #48
@hasancansaral thanks. Could you please confirm if this is still an issue for you, or if you were finally able to fix it?

[2018-03-02 14:01] chat491231702 commented on #53
I got the same problem too !!

[2018-03-02 14:03] danielfernandez commented on #53
Please note the `thymeleaf-extras-springsecurity4` package does not contain support for Spring WebFlux.

A new `thymeleaf-extras-springsecurity5` package is currently being prepared and should be soon published, adding support for Spring Security 5 in Spring WebFlux applications.

[2018-03-02 14:04] #53 closed

[2018-03-03 08:34] hasancansaral commented on #48
@danielfernandez I was able to fix it, it was due to a misconfiguration of ACLs. Thanks for the follow up.

[2018-03-10 00:45] cbartolome commented on #47
Looks like `spring-boot-starter-thymeleaf` version `2.0.0.RELEASE` is freshly out, so this is relevant again. Should I re-file this issue? Or maybe try to whip up a pull request, assuming it's really as easy as renaming the packages?

[2018-03-10 09:04] danielfernandez commented on #47
@cbartolome  There already is a `thymeleaf-spring5` module (since quite a long ago, in fact), including support for Spring WebFlux. If you mean support for **Spring Security 5**, that is already underway, but it is definitely not as easy as *renaming the packages* as it has to include support for the reactive parts of Spring Security 5 too (for WebFlux). And that is giving quite a lot of extra wor

[2018-03-11 17:04] Kingsearch commented on #51
@StupidPz me too

[2018-03-12 15:25] marccollin commented on #52
project dead?

[2018-03-12 15:26] marccollin commented on #51
specify your spring boot version, please...

[2018-03-13 01:10] StupidPz commented on #51
@Kingsearch  @marccollin try to change the version.it should work.
[code]

[2018-03-14 06:09] ultraq commented on #52
What do you mean my "no longer available" @raineyJ?  The namespace doesn't point to any valid file, so the 404 from GitHub is normal.  It's only there for stopping your IDE from complaining that the `sec` prefix, when used in your Thymeleaf template, isn't defined.

Also, [the namespace according to the readme](http://www.thymeleaf.org/extras/spring-security) is `http://www.thymeleaf.org/extras/sp

[2018-03-18 02:03] adnanmerrakchi commented on #50
thaaaaaaanks bro! i always have problem of version compatibilty between thymeleaf and spring.

[2018-03-19 21:41] fapdash opened #54 "Make springsecurity extras available on error page?"
I've noticed that the extras provided by this package don't seem to be available when rendering the Spring error pages after an Exception. (e.g. `error.html`)
`${#authentication.name}` fails with a NPE.
Elements with `sec:authentication="name"` don't get rendered.

Is this a problem with my configuration or is this a limitation of thymeleaf-extras-springsecurity?

My thymeleaf dependencies (with S

[2018-04-11 07:08] dokle commented on #51
Worked for me with the versions specified by @StupidPz , thank you :). I've just changed the version of thymeleaf-layout-dialect.version to 2.3.0

I'm using Spring Boot Version 2.0.1.RELEASE

[2018-05-02 03:11] 0nebean commented on #42
i got same situation,but i use 'spring boot 1.5.12.RELEASE' with servlet 3.0,

[2018-06-04 07:10] russellhoff commented on #47
@danielfernandez so, am I able to use `thymeleaf-extras-springsecurity4` until the release of `thymeleaf-extras-springsecurity5` without any hassle or difficulty? Thank you so much!

PS: is there any roadmap to see the development of `thymeleaf-extras-springsecurity5`?

[2018-06-04 22:52] danielfernandez commented on #47
@russellhoff that's correct. And `thymeleaf-extras-springsecurity5` is almost ready, but a requirement at the reactive side needs a change at the `thymeleaf-spring5` module that will come in version `3.0.10.RELEASE` of the core, which should be published in a couple of weeks.

[2018-07-17 07:57] codependent opened #55 "There is no way to select the preferred SecurityExpressionHandler to use"
I have a Spring Boot 1.5.13 + Thymeleaf 3.0.9 + Thymeleaf-extras-springsecurity4 3.0.2 application that uses a custom SecurityExpressionHandler.

When it is evaluating a sec:authorize expression it looks for a SecurityExpressionHandler to use:

**org.thymeleaf.extras.springsecurity4.auth.AuthUtils**:

[code]

The problem is ctx.getBeansOfType(SecurityExpressionHandler.class) returns two beans a De

[2018-08-09 04:03] heatherm opened #56 "The auth infrastructure could not create utility for the specific version of Spring beingused. Currently Spring 3.0, 3.1, 3.2 and 4.x are supported."
I'm seeing an error when rendering a template that points to the class loader not finding spring or various org.springframework classes present at the application's class path.

If I remove the sec:authorize attribute from the template, the page renders.

Template:
[code]

I'm using Spring 5.0.6.RELEASE, spring-security-core 5.0.5.RELEASE, with the following thymeleaf versions:
[code]

Error:
[cod

[2018-09-04 14:49] hasancansaral opened #57 "How can I extend sec:authorize-acl to accept id and type instead of object"
Hi!
I am currently using the expression as follows:

    sec:authorize-acl="${securedObject} :: 'ADMINISTRATION'"

I was wondering how I can extend/customize `sec:authorize-acl` expression to support an `id` and a `type`/`class` when there's no object present:

    sec:authorize-acl="${securedObjectId} :: ${securedObjectType} :: 'ADMINISTRATION'"

Thanks!

[2018-09-14 12:37] graham-collinson commented on #56
Do you have spring boot? thymeleaf-extras-springsecurity4 is currently ok for me with spring boot 2.0.4

[2018-09-14 15:38] heatherm commented on #56
Yep, using spring boot 2.0.2.RELEASE on this end.

This was helpful in my case: https://stackoverflow.com/questions/27202939/could-not-build-classfile-archiveexception, with an upgrade to the latest javassist fixing the issue.

[2018-09-14 15:38] #56 closed

[2018-09-26 08:31] FirstJavaMaster opened #58 "Haven't released the thymeleaf-extras-springsecurity5 dependency yet?"
I created a new project that uses `springboot 2.0.5.RELEASE` and its associated `spring-boot-starter-security` and `spring-boot-starter-thymeleaf`. Just like this:

[code]

I want to display the user name that is currently logged in on the thymeleaf-based html page. According to the information I found, I should add the following content to the html page
[code]

However, after opening the correspo

[2018-09-26 13:01] hasancansaral commented on #57
One can always make direct calls to their `PermissionEvaluator`:

`hasPermission(#vard.someId, #vars.someObj, 'ADMINISTRATION')`

[2018-09-26 13:01] #57 closed

[2018-10-12 10:19] danielfernandez opened #59 "Create thymeleaf-extras-springsecurity5 package"
In order to provide better support for the specific new features of Spring Security 5.x (esp. Spring WebFlux support), we should offer a new `thymeleaf-extras-springsecurity5` package.

[2018-10-12 10:19] danielfernandez commented on #59
`thymeleaf-extras-springsecurity5` already in snapshot version `3.0.3-SNAPSHOT`

[2018-10-12 11:03] danielfernandez opened #60 "Add support for Spring WebFlux"
The new `thymeleaf-extras-springsecurity5` package should introduce support for Spring WebFlux. Specifically, this means, at least:

   * Generalising authorisation and authentication support so that it does not depend on Spring MVC or the Servlet API.
   * Create new authentication and authorisation logic for Spring WebFlux.
   * Take care of reactive variables needed by Spring Security for WebFl

[2018-10-12 11:03] danielfernandez commented on #60
Already in `3.0.3-SNAPSHOT`

[2018-10-12 11:34] #59 closed

[2018-10-12 11:34] #60 closed

[2018-10-12 12:36] danielfernandez commented on #58
Please note that `thymeleaf-extras-springsecurity5` (version `3.0.3.RELEASE`) has just been published.

[2018-10-12 12:36] #58 closed

[2018-10-15 01:09] FirstJavaMaster commented on #58
Nice!!!

[2018-10-15 08:21] wimdeblauwe opened #61 "sec:authorize="isAuthenticated()" no longer works with thymeleaf-extras-springsecurity5"
I have a Spring Boot 2.0.5 application that uses thymeleaf-extras-springsecurity4 currently. I tried updating to thymeleaf-extras-springsecurity5, by changing the version in my pom.xml to:

        <thymeleaf.version>3.0.10.RELEASE</thymeleaf.version>
        <thymeleaf-layout-dialect.version>2.3.0</thymeleaf-layout-dialect.version>
        <thymeleaf-spring-data-dialect.version>3.3.1</thymeleaf-s

[2018-10-15 14:41] danielfernandez commented on #61
I've not been able to reproduce this :(

Could you please provide a bit more detail on your Spring Security configuration or (ideally) provide a test Spring Boot webapp replicating this issue? [One of our sandbox applications](https://github.com/thymeleaf/thymeleafsandbox-springsecurity-mvc) does call `sec:authorize="isAuthenticated()"` in a Spring MVC environment: https://github.com/thymeleaf/thy

[2018-10-15 18:08] wimdeblauwe commented on #61
Found the issue. With Spring Boot 2.0.5, I rely on Spring Boot to create a `SpringSecurityDialect` bean. However, by switching to this new thymeleaf-extras-springsecurity5, Spring Boot no longer creates this bean. I noticed the sandbox app has this:

	// TODO * Configuring this bean should not be needed once Spring Boot's Thymeleaf starter includes configuration
	// TODO   for thymeleaf-extras-spr

[2018-10-15 20:58] #61 closed

[2018-10-29 01:17] danielfernandez opened #62 "Fix method used to apply Automatic-Module-Name"
We should apply some new method to compute the Automatic-Module-Name so that `-` characters from artifact IDs are turned into `.`. See thymeleaf/thymeleaf-spring#195

[2018-10-29 01:18] danielfernandez commented on #62
Fixed in the way explained in thymeleaf/thymeleaf#721

[2018-10-29 01:18] danielfernandez commented on #62
Already in `3.0.4-SNAPSHOT`

[2018-10-29 01:18] #62 closed

[2019-01-02 21:28] jalmoreno commented on #51
@StupidPz @dokle thanks!!

It took me a lot of time!

My properties:

<thymeleaf.version>3.0.9.RELEASE</thymeleaf.version>
<thymeleaf-layout-dialect.version>2.2.2</thymeleaf-layout-dialect.version>
<thymeleaf-extras-springsecurity4.version>3.0.4.RELEASE</thymeleaf-extras-springsecurity4.version>

[2019-01-08 07:16] 3269199948 commented on #52
You are right

[2019-02-24 17:08] sanitas2 opened #63 "Spring Boot - how to disable authentication?"
Hi,
For development, I wish to disable authentication for my Spring Boot app. It's easy to disable logging in requirement in Application. But the problems are checks in templates (like is user in group). Is there easy trick to disable those or somehow mock authentication to return some hardcoded group?
Thank you for help.

[2019-03-07 10:01] chanhlt opened #64 "Checking permission with hasPermission always return false"
I am using Spring Boot 2.x.x with Spring security ACL.
I have a problem with hasPermission(#vars.object, ‘edit’) in HTML file. It always returns FALSE. However, hasRole(‘admin’) works perfectly.
And hasPermission(returnObject, ‘edit’) in Java code works too.

Did I miss something ?

It seems this one #17 is still remain.

[2019-03-07 23:30] vwilmerfm commented on #61
Change your file pom.xml, and add this these dependencies:

        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-security</artifactId>
        </dependency>

        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-thymeleaf</artifactId>
        </dependency>

[2019-03-08 00:53] #64 closed

[2019-03-08 00:55] chanhlt commented on #64
Actually, I forgot to set AclPermissionEvaluator for DefaultWebSecurityExpressionHandler.
[code]

After doing this, everything works perfectly. :))

[2019-03-08 05:56] fuyong859050943 opened #65 "thymeleaf-extras-springsecurity5 bug"
* spring-boot.version: 2.1.3.RELEASE
* thymeleaf-extras-springsecurity5.version: 3.0.4.RELEASE

this is my code, just render a thymeleaf html
[code]
throw a exception
[code]

[2019-05-11 15:58] rajiv7 commented on #61
Thanks a lot mate!!!

[2019-05-28 05:52] Karan2007 commented on #45
notice head declare
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

[2019-07-31 19:35] pouyakhoshkhoo commented on #48
Hi, How you fix this issue? I search it for two days and nothing found

[2019-08-14 19:11] pioto opened #66 "UnsupportedOperationException in sec:authorize-url, Spring Security 5"
I'm working on upgrading an existing project from Spring Boot 1.5 to 2.1.

We upgraded to Thymeleaf 3 a while ago, so the changes are just from Spring Framework/Security 4 to 5, and Boot 1.5 to 2.1.

As part of that migration, I added some `.requestMatchers()` to my security `HttpSecurity` config, using `EndpointRequest` objects.

It seems that this specific configuration causes an `UnsupportedOpe

[2019-12-09 14:57] bxqgit opened #67 "Update project description to include '5.x'"
From:
[code]

To:
[code]

[2020-01-30 16:09] kcaayush2158 commented on #61
----------------------

I have added but this is not working at all

[2020-02-12 13:57] borsch commented on #52
@ultraq @danielfernandez why namespace is not available again?

[2020-03-21 18:37] khampal opened #68 "sec:authorize doesn't display expected behaviour"
### Summary

I'm using Spring Cloud Gateway (which uses Webflux), but there is a bug which is preventing me displaying content to ONLY those who are not logged in (using thymeleaf).

### Actual Behavior

- elements with sec:authorize="isAuthenticated()" works fine and displays expected behaviour
- however sec:authorize="!isAuthenticated()" does not seem to work. When the user is not authenticated,

[2020-04-04 15:51] php-coder commented on #54
This isn't Thymeleaf issue but rather the way how Spring Security is configured by default in Spring Boot (the filter doesn't bind to ERROR requests and that's why authentication info isn't available on error pages). This has been fixed in Spring Boot >= 2.0: https://github.com/spring-projects/spring-boot/issues/8289

But for 1.5, you need to add the following configuration:
[code]

[2020-06-11 14:22] zeko868 opened #69 "Text rendered by sec:* attributes is not escaped, thus exposing XSS vulnerability"
Hi,

maybe I shouldn't post potential security vulnerability here, but since the security policy isn't defined for this repository, I am posting this message here where it is publicly visible.

I am using the most recent release version of this module for the latest version of Spring Security and Thymeleaf (i.e. thymeleaf-extras-springsecurity5, version 3.0.4.RELEASE) and today as I was performing

[2020-06-18 15:07] breitling commented on #61
I have done all of the above and with TRACE logging on org.thymeleaf I don't see any evidence that the sec:authorize tags are being processed.

When I look at the HTML source the sec:authorize tags are still there. That seems wrong.

[2020-07-18 16:04] maykon-oliveira opened #70 "sec:authorize="isAnonymous()" no longer works with thymeleaf-extras-springsecurity5"
I have a Spring Boot 2.3.1 application that uses thymeleaf-extras-springsecurity5. The `sec:authorize="isAnonymous()"` it's not workning when user is no logged in. The `sec:authorize="isAuthenticated()"` works fine, after I login, the button logout appears.

[pom.xml](https://github.com/maykon-oliveira/exame-chunin-devdojo/blob/master/pom.xml#L43)

[code]

[statement](https://github.com/maykon-oli

[2020-07-20 07:55] ultraq commented on #70
I don't know very much about WebFlux and Reactive stuff, but it looks like there might be a problem w/ the combination of Thymeleaf + Spring Security + WebFlux as this has also been reported in #68

[2020-12-13 07:02] imayka commented on #70
I have similar issue. When i trying to use
`<li th:if="${#authorization.expression('isAuthenticated()')}">`
expression `isAuthenticated()` returns `true` when user in not logged in (`Authentication` at this time is `null`). It looks like issue appears on thymeleaf side because for anonymous user spring has `AnonymousAuthenticationToken`. So expression

`org.thymeleaf.extras.springsecurity5.auth.Au

[2021-01-25 22:43] ottlinger opened #74 "Request/Bug - Problem with accessing custom User objects from within Spring Security in tests"
I'm a happy user of Thymeleaf and SpringBoot 2.4.2 - thanks for your work!

## Context

As my application grows I had to rely on my own ApplicationUser extending org.springframework.security.core.userdetails.User to provide a new custom attribute to be visible inside of the application.

I wanted to show this extra attribute in the following easy way inside the view:

[code]
which works fine.

###

[2021-01-26 10:15] ultraq commented on #74
I was initially going to suggest a custom expression object (like how Thymeleaf comes with built-ins like `#dates` or how the module in this repo adds `#authentication`), for your application, but I did a search for `instanceof` operations inside Spring Expression Language blocks, and it looks like those are supported.  The syntax however is: `x instanceof T(Type)`, so looking at your example that

[2021-01-26 10:31] ottlinger commented on #74
@ultraq thanks, that did the trick. I'm always amazed at the syntax .... but as long as it works you just need to know how.

[code]

[2021-01-26 10:31] #74 closed

[2021-02-26 10:21] tomas-laubr-smart-software opened #76 "Bug in documentation <div sec:authorize="hasRole('ROLE_ADMIN')">"
In the README.markdown I can see an example:

`<div sec:authorize="hasRole('ROLE_ADMIN')">`

Shouldn't it be rather

`<div sec:authorize="hasRole('ADMIN')">`

?

[2021-02-27 02:04] ultraq commented on #76
It'll depend on what you've named your roles.  Role names are strings that you get to choose, and some people will choose to prefix their roles with `ROLE_`, others might not.  The readme is at least consistent in its use of role names and does include some examples like:

[code]

Which further enforces that the intended name, for the example anyway, is `ROLE_ADMIN`.

[2021-02-27 02:04] #76 closed

[2021-06-06 22:48] #69 closed

[2021-08-21 18:35] belsouza opened #80 "Error with template thymeleaf and unknown code errors"
2272 / 5000
Resultados de tradução
Hi! I'm following a tutorial to learn spring boot and when I had to put the spring boot security part (password encoder), the form page stopped being rendered. The worst thing is that every time I recompile the error code changes and I don't know what to do. I'm studying and before installing the security I was correctly rendering the thymeleaf template.
And I do

[2021-08-22 05:26] ultraq commented on #80
Hi there, do you have a link to the tutorial you followed?  I wonder if I follow along then I might be able to get to the step that's been giving you problems and then replicate it.

[2021-08-24 03:28] belsouza commented on #80
Thanks. This tutorial : https://www.youtube.com/watch?v=rFSxmKen6aQ&ab_channel=CodeJava
I found the problem: Spring security crashed because of a thymeleaf template feature. Apparently thymeleaf renders the page even with "errors": in this case it was a div with a container opened in one fragment and closed in another (the same principle as wordpress templates). Even with the errors pointed out in

[2021-10-26 13:50] OmarHawk opened #81 "Provide a release to fix security vulnerability"
Hi,

would be nice to get a new release for issue #69  so that we can get rid of the reported vulnerability in our products. Of course, we don't actually have code in there that produces the vulnerability, but unfortunately, the static code analysis tool we are using is not clever enough to detect that, therefore reporting the vulnerability as warning - and that one bugs us a lot.

Best regards

[2022-04-07 19:53] craigcondit opened #85 "Spring 6.0 is not detected when using JPMS"
When JPMS is in use, SpringVersion.getVersion() returns null. This prevents thymeleaf-extras-springsecurity6 from detecting Spring Framework 6.

[2022-08-08 11:54] OrangeDog commented on #81
@danielfernandez is there some blocker here?

[2022-09-13 11:59] faramarzaf commented on #61
I tried @vwilmerfm solution, but it still has a problem in showing elements in HTML by authority.
Spring version:  **2.5.9.**
with the below dependencies.

[code]

[2022-11-04 18:42] rburgst commented on #85
Is there going to be support for spring security 6? The fact that this MR is not being reviewed makes me question that.

[2022-11-04 23:31] danielfernandez commented on #85
Closed by thymeleaf/thymeleaf@4515c09

[2022-11-04 23:31] #85 closed